<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
    <div class="container is-flex is-justify-content-center">
        <nav class="navbar" role="navigation">
            <section class="navbar-start">
                <a class="navbar-item" href="/">Dashboard</a>
                <a class="navbar-item" href="/orders">Orders</a>
                <a class="navbar-item" href="/vendors">Vendor</a>
                <a class="navbar-item" href="/vendordrugs">Vendor Drugs</a>
                <a class="navbar-item" href="/locations">Locations</a>
                <a class="navbar-item" href="/shelves">Shelves Information</a>
                <!-- DrugInformation joins DrugLocations, DrugIngredients and VendorDrugs -->
                <a class="navbar-item" href="/druginformation">Drug Information</a>
                <a class="navbar-item" href="/ingredients">Declared Ingredients</a>
            </section>
        </nav>
    </div>

    <title>EagleEye Dashboard</title>
</head>

<body>
    <main>
        <article class="container is-fluid">
            <div class="">
                <header>
                    <h1 class="has-text-centered is-size-2 has-text-weight-bold mb-4">Dashboard</h1>
                </header>
            </div>

            <% if (added_message.length > 0) { %>
                <div id="added-notification" class="notification is-success has-text-centered">
                    <%= added_message[0] %>
                </div>
                <% added_message = [] %>
            <% } %>

            <% if (missing_message.length > 0) { %>
                <div id="missing-notification" class="notification is-danger has-text-centered">
                    <%= missing_message[0] %>
                </div>
                <% missing_message = [] %>
            <% } %>

            <% if (success_message.length > 0) { %>
                <div id="success-notification" class="notification is-success has-text-centered">
                    <%= success_message[0] %>
                </div>
                <% success_message = [] %>
            <% } %>

            <% if (no_changes_message.length > 0) { %>
            <div id="no-changes-notification" class="notification is-warning has-text-centered">
                <%= no_changes_message[0] %>
            </div>
                <% no_changes_message = [] %>
            <% } %>

            <% if (delete_error.length > 0) { %>
                <div id="no-delete-notification" class="notification is-danger has-text-centered">
                    <%= delete_error[0] %>
                </div>
                <% delete_error = [] %>
            <% } %>

            <% if (delete_success.length > 0) { %>
                <div id="delete-notification" class="notification is-success has-text-centered">
                    <%= delete_success[0] %>
                </div>
                <% delete_success = [] %>
            <% } %>

            <script>
                const added_notification = document.getElementById('added-notification');
                const success_notification = document.getElementById('success-notification');
                const no_changes_notification = document.getElementById('no-changes-notification');
                const missing_notification = document.getElementById('missing-notification');
                const delete_error= document.getElementById('no-delete-notification');
                const delete_success = document.getElementById('delete-notification');

                function remove_notification(element) {
                element.remove();
                }

                const notification_duration = 1500;

                if (added_notification) {
                    setTimeout(() => {
                        remove_notification(added_notification);
                    }, notification_duration);
                };

                if (success_notification) {
                    setTimeout(() => {
                        remove_notification(success_notification);
                    }, notification_duration);
                };

                if (no_changes_notification) {
                    setTimeout(() => {
                        remove_notification(no_changes_notification);
                    }, notification_duration);
                };

                if (missing_notification) {
                    setTimeout(() => {
                        remove_notification(missing_notification);
                    }, notification_duration)
                };

                if (delete_error) {
                    setTimeout(() => {
                        remove_notification(delete_error);
                    }, notification_duration);
                };

                if (delete_success) {
                    setTimeout(() => {
                        remove_notification(delete_success);
                    }, notification_duration);
                };
            </script>

            <div class="box is-centered">
                <h2 class="is-size-4 has-text-weight-bold mb-4">Inventory</h2>

                <div class="table-container">
                    <table style="width: 100%; font-size: 14px;" class="table is-bordered is-hoverable is-narrow">
                        <thead>

                            <tr>
                                <th class="has-text-centered">ID</th>
                                <th class="has-text-centered">Name</th>
                                <th class="has-text-centered">Proprietary Name</th>
                                <th class="has-text-centered">Strength</th>
                                <th class="has-text-centered">Form</th>
                                <th class="has-text-centered">ATC</th>
                                <th class="has-text-centered">NDC</th>
                                <th class="has-text-centered">Fridge</th>
                                <th class="has-text-centered">Freezer</th>
                                <th class="has-text-centered">Total Quantity</th>
                                <th class="has-text-centered">Early expiration (YYYY/MM/DD)</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tbody>
                            <% drug_data.forEach(function(drug) {%>
                                <tr>
                                    <td class="is-vcentered"><%= drug.drugID %></td>
                                    <td>
                                        <a href="/druginformation/<%= encodeURIComponent(drug.drugName) %>">
                                            <%= drug.drugName %>
                                        </a>
                                    </td>
                                    <td class="is-vcentered"><%= drug.drugPropName %></td>
                                    <td class="is-vcentered"><%= drug.drugStrength %></td>
                                    <td class="is-vcentered"><%= drug.drugForm %></td>
                                    <td class="is-vcentered"><%= drug.drugATC %></td>
                                    <td class="is-vcentered"><%= drug.drugNDC %></td>
                                    <td class="is-vcentered"><%= drug.storeFridge %></td>
                                    <td class="is-vcentered"><%= drug.storeFreezer %></td>
                                    <td class="is-vcentered"><%= drug.totalQuantity %></td>
                                    <td class="is-vcentered"><%= drug.earlyExpiration %></td>
                                    <td class="is-vcentered"><a href="/editdrug/<%= drug.drugID %>"><button class="button is-link">Edit</button></a></td>                         
                                    <td class="is-vcentered">
                                        <form id="delete_form_<%= drug.drugID %>" method="POST" action="/deletedrug/<%= drug.drugID %>?_method=DELETE">
                                            <button class="button is-danger" onclick="confirmation_timing(<%= drug.drugID %>, event)">Delete</button>                    
                                        </form>
                                    </td>   
                                    <div id="confirmation_prompt" class="modal is-overlay">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Confirm Deletion</p>
                                                <button class="modal-cancel delete" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <p>Are you sure you want to delete this drug?</p>
                                            </section>
                                            <footer class="modal-card-foot">
                                                <button class="modal-confirm button is-danger">Delete</button>
                                                <button class="modal-cancel button">Cancel</button>
                                            </footer>
                                        </div>
                                    </div>  
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

            <script>
                async function confirmation_timing(drugID, event) {
                    event.preventDefault();
                    const confirmation = await show_confirmation_prompt()
                    if (confirmation) {
                        await delete_drug(drugID)
                    }
                };

                async function show_confirmation_prompt() {
                    return new Promise((resolve) => {
                        const prompt = document.getElementById('confirmation_prompt');
                        prompt.classList.add('is-active');

                        const confirmed = document.querySelector('.modal-confirm')
                        const cancelled = document.querySelectorAll('.modal-cancel')

                        confirmed.addEventListener('click', () => {
                            prompt.classList.remove('is-active')
                            resolve(true)
                        })

                        cancelled.forEach((element) => {
                            element.addEventListener('click', () => {
                                prompt.classList.remove('is-active')
                                resolve(false)
                            })
                        })
                    })
                };

                async function delete_drug(drugID) {
                    document.getElementById('delete_form_' + drugID).submit()
                };
            </script>

            <div class="columns">
                <div class="block column">
                    <div class="box">

                        <form action="/adddrug" method="POST">
                            <fieldset>
                                <legend class="is-size-4 has-text-weight-bold mb-4">Add New Drug To Inventory</legend>

                                <div class="field">
                                    <label class="label" for="textinput-0">Drug Name</label>
                                    <div class="control">
                                        <input id="Name" name="add_name" type="text" placeholder="" class="input">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Proprietary Drug Name</label>
                                    <div class="control">
                                        <input id="PropName" name="add_propn" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field columns">
                                    <div class="column">
                                        <label class="label" for="name">Strength</label>
                                        <div class="control">
                                            <input class="input" type="text" id="Strength" name="add_strength" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="name">Form</label>
                                    <div class="select">
                                        <select name="add_form" id="">
                                            <option value="" selected hidden>Select an option</option>
                                            <option value="Tablet">Tablet</option>
                                            <option value="Tablet ER">Tablet ER</option>
                                            <option value="Syringe">Syringe</option>
                                            <option value="Vial">Vial</option>
                                            <option value="Vaginal Insert ER">Vaginal Insert ER</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">ATC</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_atc" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="textinput-0">NDC</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_ndc" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Fridge</label>
                                    <div class="select">
                                        <select name="add_fridge" id="">
                                            <option value="" selected hidden>Select an option</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Freezer</label>
                                    <div class="select">
                                        <select name="add_freezer" id="">
                                            <option value="" selected hidden>Select an option</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Total Quantity</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_quantity" type="text" inputmode="numeric"
                                            placeholder="" class="input ">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="textinput-0">Earliest Expiration Date</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_expiration" type="date" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="singlebutton-0"></label>
                                    <div class="control">
                                        <button id="singlebutton-0" name="singlebutton-0"
                                            class="button is-primary" type="submit">Add</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="block column">
                    <div class="box">

                        <form action="/searchdrugs" method="POST">
                            <fieldset>
                                <legend class="is-size-4 has-text-weight-bold mb-4">Search Inventory</legend>

                                <div class="field">
                                    <label class="label" for="textinput-0">Drug Name</label>
                                    <div class="control">
                                        <input id="textinput-0" name="search_name" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Proprietary Drug Name</label>
                                    <div class="control">
                                        <input id="textinput-0" name="search_propn" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field columns">
                                    <div class="column">
                                        <label class="label" for="name">Strength</label>
                                        <div class="control">
                                            <input class="input" type="text" id="drugStrength" name="search_strength" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="name">Form</label>
                                    <div class="select">
                                        <select name="search_form" id="">
                                            <option value="" selected hidden>Select an option</option>
                                            <option value="Tablet">Tablet</option>
                                            <option value="Tablet ER">Tablet ER</option>
                                            <option value="Syringe">Syringe</option>
                                            <option value="Vial">Vial</option>
                                            <option value="Vaginal Insert ER">Vaginal Insert ER</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">ATC</label>
                                    <div class="control">
                                        <input id="textinput-0" name="search_atc" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="textinput-0">NDC</label>
                                    <div class="control">
                                        <input id="textinput-0" name="search_ndc" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Fridge</label>
                                    <div class="select">
                                        <select name="search_fridge" id="">
                                            <option value="" selected hidden>Select an option</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Freezer</label>
                                    <div class="select">
                                        <select name="search_freezer" id="">
                                            <option value="" selected hidden>Select an option</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Total Quantity</label>
                                    <div class="control">
                                        <input id="textinput-0" name="search_quantity" type="text" inputmode="numeric"
                                            placeholder="" class="input ">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="textinput-0">Earliest Expiration Date</label>
                                    <div class="control">
                                        <input id="textinput-0" name="search_expiration" type="date" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="singlebutton-0"></label>
                                    <div class="control">
                                        <button id="singlebutton-0" name="singlebutton-0"
                                            class="button is-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </article>
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
                Group 73 &copy; <strong>2023</strong>
        </div>
    </footer>
</body>

</html>