<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
    <div class="container is-flex is-justify-content-center">
        <nav class="navbar" role="navigation">
            <section class="navbar-start">
                <a class="navbar-item" href="/">Dashboard</a>
                <a class="navbar-item" href="/orders">Orders</a>
                <a class="navbar-item" href="/vendors">Vendor</a>
                <a class="navbar-item" href="/vendordrugs">Vendor Drugs</a>
                <a class="navbar-item" href="/locations">Locations</a>
                <a class="navbar-item" href="/shelves">Shelves Information</a>
                <!-- DrugInformation joins DrugLocations, DrugIngredients and VendorDrugs -->
                <a class="navbar-item" href="/druginformation">Drug Information</a>
                <a class="navbar-item" href="/ingredients">Declared Ingredients</a>
            </section>
        </nav>
    </div>

    <title>Orders</title>
</head>

<body>
    <div class="has-text-centered is-size-2 has-text-weight-bold">Orders</div>

    <% if (added_message.length > 0) { %>
        <div id="added-notification" class="notification is-success has-text-centered">
            <%= added_message[0] %>
        </div>
        <% added_message = [] %>
    <% } %>

    <% if (missing_message.length > 0) { %>
        <div id="missing-notification" class="notification is-danger has-text-centered">
            <%= missing_message[0] %>
        </div>
        <% missing_message = [] %>
    <% } %>

    <script>
        const added_notification = document.getElementById('added-notification');
        const missing_notification = document.getElementById('missing-notification');

        function remove_notification(element) {
        element.remove();
        }

        const notification_duration = 1500;

        if (added_notification) {
            setTimeout(() => {
                remove_notification(added_notification);
            }, notification_duration);
        };

        if (missing_notification) {
            setTimeout(() => {
                remove_notification(missing_notification);
            }, notification_duration)
        };
    </script>

    <main>
        <article class="container is-fluid">
            <div class="block column">
                <div class="box">
                    <div class="table-container">
                        <table style="width: 100%; font-size: 14px;" class="table is-bordered is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th class="has-text-centered">Status</th>
                                    <th class="has-text-centered">Drug Name</th>
                                    <th class="has-text-centered">NDC code</th>
                                    <th class="has-text-centered">Vendor Name</th>
                                    <th class="has-text-centered">Order Date</th>
                                    <th class="has-text-centered">Quantity</th>
                                    <th class="has-text-centered">Expiration Date</th>
                                    <th class="has-text-centered">Lot Number</th>
                                    <th class="has-text-centered">Total Price ($)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order_data.forEach(function(order) {%>
                                    <tr>
                                        <td><%= order.status %></td>
                                        <td><%= order.drugName %></td>
                                        <td><%= order.drugNDC %></td>
                                        <td><%= order.vendorName %></td>
                                        <td><%= order.orderDate %></td>
                                        <td><%= order.quantity %></td>
                                        <td><%= order.expiryDate %></td>
                                        <td><%= order.lotNumber %></td>
                                        <td><%= order.totalPrice %></td>
                                    </tr>  
                                <% }) %>                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="columns">
                <div class="block column">
                    <div class="box">
                        <form action="orders/addorder" method="POST">
                            <fieldset>
                                <legend class="is-size-4 has-text-weight-bold mb-4">Add New Order</legend>

                                <div class="field">
                                    <label class="label" for="textinput-0">Status</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_status" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Drug Name</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_dname" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Drug NDC</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_ndc" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field columns">
                                    <div class="column">
                                        <label class="label" for="textinput-0">Vendor Name</label>
                                        <div class="control">
                                            <input class="input" name="add_vname" type="text" id="drugStrength"  />
                                        </div>
                                    </div>
                                </div>

                                <div class="field columns">
                                    <div class="column">
                                        <label class="label" for="textinput-0">Order Date</label>
                                        <div class="control">
                                            <input class="input" name="add_date" type="text" id="drugStrength"  />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Quantity</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_quantity" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Expiry Date</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_expiration" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Lot Number</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_lotn" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Total Price</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_price" type="text" inputmode="numeric"
                                            placeholder="" class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="singlebutton-0"></label>
                                    <div class="control">
                                        <button id="singlebutton-0" name="singlebutton-0"
                                            class="button is-primary" type="submit">Add</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="block column">
                    <div class="box">

                        <form action="">
                            <fieldset>
                                <legend class="is-size-4 has-text-weight-bold mb-4">Search Orders</legend>

                                <div class="field">
                                    <label class="label" for="textinput-0">Status</label>
                                    <div class="control">
                                        <input id="textinput-0" name="textinput-0" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Drug Name</label>
                                    <div class="control">
                                        <input id="textinput-0" name="textinput-0" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Drug NDC</label>
                                    <div class="control">
                                        <input id="textinput-0" name="add_ndc" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field columns">
                                    <div class="column">
                                        <label class="label" for="name">Vendor Name</label>
                                        <div class="control">
                                            <input class="input" type="text" id="drugStrength" name="drug_strength" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field columns">
                                    <div class="column">
                                        <label class="label" for="name">Order Date</label>
                                        <div class="control">
                                            <input class="input" type="text" id="drugStrength" name="drug_strength" />
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Quantity</label>
                                    <div class="control">
                                        <input id="textinput-0" name="textinput-0" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Expiry Date</label>
                                    <div class="control">
                                        <input id="textinput-0" name="textinput-0" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Lot Number</label>
                                    <div class="control">
                                        <input id="textinput-0" name="textinput-0" type="text" placeholder=""
                                            class="input ">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="textinput-0">Total Price</label>
                                    <div class="control">
                                        <input id="textinput-0" name="textinput-0" type="text" inputmode="numeric"
                                            placeholder="" class="input ">
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="field">
                                    <label class="label" for="singlebutton-0"></label>
                                    <div class="control">
                                        <button id="singlebutton-0" name="singlebutton-0"
                                            class="button is-primary">Search</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
                Group 73 &copy; <strong>2023</strong>
        </div>
    </footer>
</body>

</html>